@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$background-color: #000000;
$widget-yellow-background: #e5f374;
$widget-purple-background: #c37dff;
$widget-darkgray-background: #111012;
$text-color-light-gray: #cbcacb;
$text-color-gray: #858485;
