@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$background-color: #000000;
$widget-yellow-background: #e5f374;
$widget-purple-background: #ba72fe;
$activity-background: #f4faff;
$widget-darkgray-background: #111012;
$text-color-light-gray: #cbcacb;
$text-color-gray: #858485;
$transparent: rgba(1, 1, 1, 0);

* { /* RESET */
    vertical-align: baseline;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    font-style: inherit;
    font-size: 18px;
    line-height: 1.3;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    color: $text-color-gray;
}

head, script {
    display: none;
}
