@use "vars" as *;
body{
    background-color: $background-color;
    margin: 50px;
    a{
        text-decoration: none;
    }
}

header{
    background-color:$background-color;
    display: flex;
    justify-content: space-between;

    a{
        color: $text-color-gray;
        padding: 10px;
        display: flex;
        align-items: center;
    }

    nav, div{
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
}

nav{
    a:first-child{
        background-color: white;
        color: black;
    }
}